
@{
    ViewBag.Title = "SEdit";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<div class="back reallyAdd">





    <div class="really text-center">
        <i class="far fa-smile-wink"></i>
        <h1>Edit car successfully , Nice </h1>
        <h3>Go to Admin Home page  <a href="/clint/notUser"> <i class="fas fa-arrow-right"></i></a></h3>
    </div>




</div>


