
@{
    ViewBag.Title = "ToEdit";
    Layout = "~/Views/Shared/_LayoutAnimate.cshtml";
}

<form method="get" action="/admin/Edit">
    <input type="number" name="ID" class="form-control" placeholder="Enter ID car" />
    <input type="submit" value="go" />
</form>
<a href="~/admin/Index">Home</a>

