USE [master]
GO
/****** Object:  Database [Sno7y]    Script Date: 8/22/2019 4:21:19 PM ******/
CREATE DATABASE [Sno7y]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sno7y', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SNO7Y\MSSQL\DATA\Sno7y.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sno7y_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SNO7Y\MSSQL\DATA\Sno7y_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sno7y].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sno7y]
GO
/****** Object:  Table [dbo].[car]    Script Date: 8/22/2019 4:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car](
	[CID] [int] IDENTITY(100,1) NOT NULL,
	[num] [nvarchar](255) NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[type_car] [nvarchar](255) NOT NULL,
	[num_seats] [int] NOT NULL,
	[col] [nvarchar](255) NOT NULL,
	[pick] [nvarchar](max) NULL,
	[available] [bit] NOT NULL,
	[air_conditioning] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 8/22/2019 4:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[ssna] [nvarchar](14) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[t_ID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ssna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[package]    Script Date: 8/22/2019 4:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[package](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[price] [decimal](18, 0) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[available] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[package_car]    Script Date: 8/22/2019 4:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[package_car](
	[car_ID] [int] NOT NULL,
	[package_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[car_ID] ASC,
	[package_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservation_car]    Script Date: 8/22/2019 4:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservation_car](
	[car_ID] [int] NOT NULL,
	[start_Date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[number] [int] IDENTITY(1,1) NOT NULL,
	[client_ID] [nvarchar](14) NOT NULL,
	[type_reservation] [nvarchar](255) NULL,
	[package] [bit] NULL,
	[duration] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[package_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[type_client]    Script Date: 8/22/2019 4:21:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[type_client](
	[type_ID] [int] NOT NULL,
	[type_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[client]  WITH CHECK ADD FOREIGN KEY([t_ID])
REFERENCES [dbo].[type_client] ([type_ID])
GO
ALTER TABLE [dbo].[package_car]  WITH CHECK ADD FOREIGN KEY([car_ID])
REFERENCES [dbo].[car] ([CID])
GO
ALTER TABLE [dbo].[package_car]  WITH CHECK ADD FOREIGN KEY([package_ID])
REFERENCES [dbo].[package] ([ID])
GO
ALTER TABLE [dbo].[reservation_car]  WITH CHECK ADD FOREIGN KEY([car_ID])
REFERENCES [dbo].[car] ([CID])
GO
ALTER TABLE [dbo].[reservation_car]  WITH CHECK ADD FOREIGN KEY([client_ID])
REFERENCES [dbo].[client] ([ssna])
GO
ALTER TABLE [dbo].[reservation_car]  WITH CHECK ADD FOREIGN KEY([package_ID])
REFERENCES [dbo].[package] ([ID])
GO
USE [master]
GO
