@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/Error.cshtml";
}

<h2>Error 404 Not Found</h2>
<p>يعنى انت سايب كل الصفحات الى موجودة عندى على الويب سايت ومسكلى فى دى !؟ عيل ثئيل بصحيح, اجرى يلا روح سيرش على حاجة موجودة عندى علشان معوركش</p>

