
@{
    ViewBag.Title = "carOrPackage";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
    <div class="back">
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center boxServices">
                            
                            <div class="divIcon">
                                <a href="/clint/book">
                                    <i class="fas fa-car"></i>
                                </a>
                            </div>
                            
                            <h5 class="web">Reservetion Car</h5>
                            <p class="lorem">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Magni adipisci eaque autem fugiat! Quia,
                                provident vitae! Magni tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="text-center boxServices">
                            <div class="divIcon">
                                <a href="/clint/package" class="linkIcon">
                                    <i class="fas fa-car i1"></i>
                                    <i class="fas fa-car i2"></i>
                                    </a>
                            </div>
                            <h5 class="web">Reservetion Package</h5>
                            <p class="lorem">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Magni adipisci eaque autem fugiat! Quia,
                                provident vitae! Magni tempora perferendis eum non provident.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        </div>