
@{
    ViewBag.Title = "national";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<div class="back">
    <article class="divBook">

        <form class="formTo">
            <label> From </label>  <input type="date" />
            <label> To </label>  <input type="date" />
            <input type="submit" value="Search" class="submit" />
        </form>

        <table class="table table-hover">
            <thead>
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Clind Name</th>
                    <th scope="col"> National ID</th>
                    <th scope="col">number of car</th>
                    <th scope="col">Car Model</th>
                    <th scope="col">Car ID</th>
                    <th scope="col">start reservation</th>
                    <th scope="col">end reservation</th>
                    <th scope="col">Type Of Reservation</th>
                    <th scope="col">price of reservation</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <th scope="row">1</th>
                    <td>besho bassem</td>
                    <td>5454442242</td>
                    <td>52</td>
                    <td>BMW</td>
                    <td>4582</td>
                    <td>1/1/2019</td>
                    <td>2/2/2019</td>
                    <td>pussnies</td>
                    <td>600</td>

                </tr>
                <tr class="text-center">
                    <th scope="row">2</th>
                    <td>besho mmdoh</td>
                    <td>12121212542</td>
                    <td>755</td>
                    <td>KIA</td>
                    <td>1566</td>
                    <td>1/5/2019</td>
                    <td>2/5/2019</td>
                    <td>pussnies</td>
                    <td>750</td>
                </tr>
                <tr class="text-center">
                    <th scope="row">3</th>
                    <td>peter romany</td>
                    <td>721254325</td>
                    <td>120</td>
                    <td>Jeep</td>
                    <td>7202</td>
                    <td>1/2/2019</td>
                    <td>2/4/2019</td>
                    <td>pussnies</td>
                    <td>1000</td>
                </tr>
                <tr class="text-center">
                    <th scope="row">4</th>
                    <td>amer nazeh</td>
                    <td>75131034</td>
                    <td>542</td>
                    <td>honday</td>
                    <td>754231212</td>
                    <td>1/1/2019</td>
                    <td>2/2/2019</td>
                    <td>pussnies</td>
                    <td>200</td>
                </tr>
                <tr class="text-center">
                    <th scope="row">5</th>
                    <td>mena nabil</td>
                    <td>124120245</td>
                    <td>574</td>
                    <td>nassan</td>
                    <td>1541245</td>
                    <td>10/1/2019</td>
                    <td>30/2/2019</td>
                    <td>pussnies</td>
                    <td>2000</td>
                </tr>
                <tr class="text-center">
                    <th scope="row">6</th>
                    <td>tawadros gamal</td>
                    <td>1242150654</td>
                    <td>542</td>
                    <td>honday</td>
                    <td>754231212</td>
                    <td>20/2/2019</td>
                    <td>2/2/2019</td>
                    <td>pussnies</td>
                    <td>2100</td>
                </tr>
                <tr class="text-center">
                    <th scope="row">7</th>
                    <td>ali mohamed</td>
                    <td>75131034</td>
                    <td>123</td>
                    <td>daiyoo</td>
                    <td>5121</td>
                    <td>1/1/2019</td>
                    <td>2/1/2019</td>
                    <td>pussnies</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </article>
</div>