
@{
    ViewBag.Title = "notUser";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
<div class="back">
    <article class="divBook">
        <h3 class="text-center private">private page for shop owner</h3>
        <br />
        <h4 class="text-center">Enter the object to display </h4>
        <br />
        <div class="text-center choose1"><a href="/clint/clientInfo" class="text-center choose2">Display Clints</a></div><br />
        <div class="text-center choose1 "><a href="/clint/national" class="text-center choose2" style="margin:auto ; text-align:center">national</a></div> <br />
        <div class="text-center choose1"><a href="/clint/add" class="text-center choose2">Add Car</a></div><br />
        <div class="text-center choose1 choose3"><a href="/clint/clientInfo" class="text-center choose2">Add Package</a></div><br />


    </article>
</div>

