
@{
    ViewBag.Title = "ReadMore";
}


    <article class="divBook ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-8 col-sm-8 " style="margin-bottom:130px;" >
                                <div>
                                    <h3>About Package ...</h3>
                                    <p>this package have a 3 car</p>
                                    <p>the type of car is [daio , lada , kia]</p>
                                    <p>color is avalable [red , gray , blue]</p>
                                    <p>price of package is 750 $</p>
                                    <a href="/clint/reallyBookPackage" class="book blue">Reservition</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 imgBig">
                                <!--<img class="img80" src="~/Content/modern-white-car_110488-1506.jpg" width="200" height="200">-->

                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <!--id="carouselExampleControls" ده ال id اللى بينده على الصوره لما تقلب من السهم ولازم يبقى زى ال href -->
                                    <ol class="carousel-indicators">
                                        <li href="#carouselExampleControls" data-slide-to="0" class="active"></li>
                                        <li href="#carouselExampleControls" data-slide-to="1"></li>
                                        <li href="#carouselExampleControls" data-slide-to="2"></li>
                                        <li href="#carouselExampleControls" data-slide-to="3"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="~/Content/background-slide.jpg" class="d-block w-100 img80" alt="..." width="200" height="200">
                                            <div class="carousel-caption">

                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="~/Content/داخلية-كيا-سبورتاج-2019-فل-كامل.jpg" class="d-block w-100  img80" alt="..." width="200" height="200">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="~/Content/سيارة-كيا-سيراتو-2019-من-الداخل.jpg" class="d-block w-100 img80" alt="..." width="200" height="200">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img src="~/Content/مقاعد-كيا-سيراتو-2019-768x576-1.jpg" class="d-block w-100 img80" alt="..." width="200" height="200">
                                            <div class="carousel-caption">
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" title="Back">

                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" title="Next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </article>
