
@{
    ViewBag.Title = "reallyBookPackage";
}

        <div class="really text-center">
            <i class="far fa-smile-wink"></i>
            <h1>The Package has been booked successfully, enjoy with us </h1>
            <h3>Go to reservtion Package page  <a href="/clint/package"> <i class="fas fa-arrow-right"></i></a></h3>
        </div>


