@model Nullable<decimal>
@{
    ViewBag.Title = "realyBook";
}
    
        <div class="really text-center">
            <i class="far fa-smile-wink"></i>
            <h1>The car has been booked successfully cost : @Model.Value $ , enjoy with us </h1>
            <h3>Go to reservtion page  <a href="/clint/book"> <i class="fas fa-arrow-right"></i></a></h3>
        </div>

